{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}
    <div><img src="/static/lab9/HNY.png" style="width: 30%;"></div>

    <div style="display: flex;">
        <div>
            {% if gender == 'male' %}
                <div>Поздравляю с наступающим</div>
                <div>новым годом, {{ user_2 }}!</div>
                <br>
                <div>Пусть этот новый год сделает тебя настолько</div>
                <div>счастливым, что будет тяжело в это поверить!</div>
                <br>
                <div>С любовью, {{ user_1 }} </div>
            {% endif %}
    
            {% if gender == 'female' %}
                <div>Поздравляю с наступающим</div>
                <div>новым годом, {{ user_2 }}!</div>
                <br>
                <div>Пусть этот новый год сделает тебя настолько</div>
                <div>счастливой, что будет тяжело в это поверить!</div>
                <br>
                <div>С любовью, {{ user_1 }} </div>
            {% endif %}
        </div>
        <img style="width: 17%; margin-left: 30px;" src="/static/lab9/ёлка.png">
    </div>


{%endblock%}