{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <menu class="menu" style="display: inline-flex; text-align: justify; width: 100%; border: 0px solid; border-radius: 0%; margin-left: 0%; background-color: rgb(237, 217, 193);">
        <div class="menu" style="margin-left: 0; border: 0px solid; border-radius: 0%; background-color: rgb(237, 217, 193);">
            <label style="font-size: 24px; font-weight: bolder; font-style: italic;">База Знаний</label>
        </div>
        
        <button role="button" class="menu" style="height: 45px;">
            <a href="/lab5/user/articles">Просмотреть заметки</a>
        </button>
        <div class="menu">
            <a href="/lab5/new_article">Создать заметку</a>
        </div>
        <div style="display: flex; float: right; margin-left: 250px;">
            <div class="menu">
                <a href="/lab5/login">Войти</a></li>
            </div>
            <div class="menu" style="margin-left: 5px;">
                <a href="/lab5/register" >Зарегистрироваться</a>
            </div>
            <div class="menu" style="border: 0px solid; background-color: #ffffff; font-style: italic;">
                <label>{{ username }}</label>
            </div>
            <a href="/lab5/logout"><img src="/static/logout.png" style="margin: 0px 20px; height: 20px"></a>
        </div>
    </menu>
    <span class="error">{{ errors }}</span>
    <h1>Мои статьи</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <p>Автор: {{ article.author }}</p>
            </li>
        {% endfor %}
    </ul>
    <p>
        <a href="/lab5/">Назад</a>
    </p>
{% endblock %}