{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Доберманы</h1>
    <h2>Интересные факты о породе</h2>

    <div>Доберманов знают и боятся многие. Но только владельцы этих собак подтвердят, 
        насколько умны и ласковы могут быть доберманы. Знаменитые сторожевые собаки все 
        чаще становятся компаньонами людей разных возрастов, и на то есть несколько причин. </div>
    <img src="/static/dob2.jpg" alt="Doberman's photo" style="width: 40%;">

    <h2>Собака сборщика налогов</h2>
    <div>Доберманы появились относительно недавно – порода начала формироваться в конце 19 века. 
        И занялся ее разведением Карл Фридрих Луис Доберман, который работал сборщиком налогов. 
        По долгу службы он часто находился в опасных районах, поэтому нуждался в 
        дополнительной защите. Именно поэтому он решил создать породу, которая будет выглядеть 
        изысканно и элегантно, но при этом устрашающе и отлично справится с должностью охранника.</div>
    <img src="/static/dob1.jpg" alt="Doberman's photo" style="width: 40%;">

    <div>В результате этого эксперимента появилась поджарая, мускулистая собака – породу 
        назвали тюрингский пинчер. После кончины главного заводчика породу переименовали в 
        его честь – доберман-пинчер. И в 1949 году название сократили, и стали 
        называть просто доберман.</div>
    <img src="/static/dob3.jpg" alt="Doberman's photo" style="width: 40%;">

    <h2>Как получился доберман – остается загадкой</h2>
    <div>О процессе разведения первый заводчик не делал подробных записей, поэтому какие 
        породы участвовали в появлении доберманов доподлинно неизвестно. Есть предположение, что это 
        помесь веймаранера, ротвейлера, босерона, борзой, немецкого дога и манчестер-терьера.</div>
    <img src="/static/dob11.jpg" alt="Doberman's photo" style="width: 40%;">

    <h2>Домашний пес</h2>
    <div>Несмотря на грозный вид и немалый размер, доберманы предпочитают жить только в 
        домашних условиях. Они ненавидят холод, часто отказываются выходить на улицу 
        во время дождя. Но при этом представители породы очень активны, и им нужны 
        ежедневные физические упражнения и прогулки.</div>
    <img src="/static/dob5.jpg" alt="Doberman's photo" style="width: 40%;">

    <h2>Доберманам купировали уши и хвост</h2>
    <div>Изначально этих собак разводили в качестве охранников, поэтому в обязательном 
        порядке купировали уши и хвост. Это слабые места, которые могут подвести собаку 
        во время драки. Например, хвост у добермана очень тонкий и чувствительный, 
        поэтому ломается легче, чем у псов других пород. Сейчас процедура купирования 
        необязательная, и часто делается по медицинским показаниям, так как собаки 
        проходят по породным стандартам даже с нетронутыми ушами и хвостом.</div>
    <img src="/static/dob12.jpg" alt="Doberman's photo" style="width: 40%;">

    <h2>Универсальная собака</h2>
    <div>Доберманы – невероятно разносторонняя порода. И к тому же входит в пятерку 
        самых умных пород. Поэтому доберманов используют в поисково-спасательных работах, 
        в качестве собак- терапевтов и для других служб. Кроме того они энергичны и хорошо 
        обучаемы, поэтому могут участвовать в различных видах спортивных дисциплин для собак.</div>
    <img src="/static/dob4.jpg" alt="Doberman's photo" style="width: 40%;">

    <h2>Охранник и просто друг</h2>
    <div>Доберманы – очень проницательные собаки с хорошей интуицией, поэтому справляются 
        с работой охранника. Они обладают замечательной способностью чувствовать угрозу, 
        могут точно определить, кто друг, а кто нет. Но при правильном обучении и 
        социализации они также веселые и дружелюбные собаки с огромным сердцем и 
        желанием быть ближе к своей семье.</div>
    <img src="/static/dob8.jpg" alt="Doberman's photo" style="width: 40%;">

    <h2>Они помогали во время войны</h2>
    <div>Как и немецких овчарок, доберманов использовали во время войны для помощи 
        солдатам. Эти боевые собаки выполняли различные обязанности: их обучали находить 
        и спасать раненых солдат, обнаруживать вражеские локации и мины, действовать 
        как посыльные, часовые и сторожевые собаки. К сожалению, также упоминается, что 
        собак использовали на войне как «смертников». Эти собаки были упакованы взрывчаткой, 
        которая дистанционно взрывалась, как только собака приближалась к вражескому танку.</div>
    <img src="/static/dob10.jpg" alt="Doberman's photo" style="width: 40%;">
{% endblock %}